body
{

}
.container
{
    position: relative;
    width: 100%;
    height: 100%;
}
.responsive-img
{
    position: relative;
    width: 45%;
    margin: 10% 0 5% 0;
    left: 30%;
}
.img
{
    width: 100%;
    height: 100%;
}
.foot
{
    width: auto;
    height: auto;
    background-color: #eee;
    padding: 4%;
}
.input-field
{
    border-bottom: #000;
}
.btn2
{
    float: right;
}
.rigth
{
    float: right;
}
.left
{
    float: left;
}
.both
{
    clear: both;
}
